{% extends "auctions/layout.html" %}

{% block body %}

<div class="row mx-3">
    {% if user.is_authenticated %}
        {% if isListingInWatchlist %}
            <form action="{% url 'removewatchlist' id=listing.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" > Remove From Watchlist</button>
            </form>
        <h1>Remove</h1>
        {% else %}
            <form action="{% url 'addwatchlist' id=listing.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-success" > Add To Watchlist</button>
            </form>
        <h1>Add</h1>
        {% endif %}

    {% endif %}
</div>

<h2>Listings: {{ listing.title }}</h2>
<img class="card-img-top" src="{{ listing.imageURL }}" alt="{{ listing.title }}">
<p>Details: {{ listing.description }}</p>
<p>{{ listing.onwer }}</p>
<h5>Price: ${{ listing.price }}</h5>

<div class="row mx-3">
    <h2>Comment</h2>
    {% if user.is_authenticated %}
        <form action="{% url 'addComment' id=listing.id %}" method="POST">
            <input type="text" name="newComment" placeholder="Add New Comment">
            {% csrf_token %}
            <button type="submit" class="btn btn-success" > Comment</button>
        </form>

    {% endif %}
    <br>
    <ul class="list-group">
    {% for comment in allComments %}
        <li class="list-group-item">{{ comment.message }}</li>
    {% endfor %}

{% endblock %}
