{% extends "auctions/layout.html" %}

{% block body %}

<div class="container">
    {% if message %} 
        {% if update %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endif %}

    {% endif %}
</div>

<div class="container">
{% if not listing.isActive and user == listing.price.user %}
    <div class="alert alert-success" role="alert">
         
        {{ "Auction Won" }}

    </div>
       

{% endif %}
</div>

<div class="row mx-3">
    {% if user.is_authenticated and listing.isActive %}
        {% if isOwner %}
            <form action="{% url 'closeAuction' id=listing.id %}" method="POST" class="mx-3">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" > Close</button>
            </form>

        {% endif %}

        {% if isListingInWatchlist %}
            <form action="{% url 'removewatchlist' id=listing.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" > Remove From Watchlist</button>
            </form>
        <h1>Remove</h1>
        {% else %}
            <form action="{% url 'addwatchlist' id=listing.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-success" > Add To Watchlist</button>
            </form>
        <h1>Add</h1>
        {% endif %}

    {% endif %}
</div>

<h2>Listings: {{ listing.title }}</h2>
<img class="card-img-top" src="{{ listing.imageURL }}" alt="{{ listing.title }}">
<p>Details: {{ listing.description }}</p>
<p>{{ listing.onwer }}</p>
<h5>Initial Price: ${{ listing.price.bid  }}</h5>

{% if user.is_authenticated %}
    <form action="{% url 'addBid' id=listing.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="price">Add Bid</label>
            <input type="number" min="0" name="newBid" placeholder="Add New Bid">
        
            <button type="submit" class="btn btn-warning" > Add </button>
        </div>
    </form>

{% endif %}

<div class="row mx-3">
    <h2></h2>
    {% if user.is_authenticated %}
        <form action="{% url 'addComment' id=listing.id %}" method="POST">
            <input type="text" name="newComment" placeholder="Add New Comment">
            {% csrf_token %}
            <button type="submit" class="btn btn-success" > Comment</button>
        </form>

    {% endif %}
</div>
<br>
<div>
    <ul class="list-group">
    {% for comment in allComments %}
        <li class="list-group-item">{{ comment.message }}
        <br/>
        <p> Posted by <strong>{{ comment.author }}</strong></p>
        </li>
    {% endfor %}
</div>
{% endblock %}